
html {
  margin: 0;
}

span {
  display: block;
}


.canva {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}


.button{
width: 100px;
height: 120px;
display: inline-block;
border: 3px solid  black ;



}

#red{


    background: red;
}
#green{


    background: green;
}
#blue{


    background: blue;
}
#yellow{


    background: yellow;
}